<div class="cube">
	<img class="cube" src="/static/images/{{imageUrl}}">
	<p class="name">{{name}}</p>
	<p><span>Price: </span> {{price}} BGN</p>
	<a class="btn" href="/details/car/{{id}}">Details</a>
	<button class="btn more">Show description</button>
	<div class="description">
		<p>{{description}}</p>
	</div>
</div>