{{#with car}}
<h1>{{name}}</h1>
<img class="cube" src="/static/images/{{imageUrl}}">
<div class="details">
    <p><span>Description:</span>{{description}}</p>
    <p><span>Price: </span>{{price}} BGN</p>
    {{#if isOwner}}
    <a class="btn" href="/attach/accessory/{{id}}">Attach Accessory</a>
    <a class="btn" href="/edit/car/{{id}}">Edit</a>
    <a class="btn" href="/delete/car/{{id}}">Delete</a>
    {{/if}}
</div>
{{/with}}
<h2>Accessories</h2>
{{#each car.accessories}}
{{> accessory}}
{{/each}}